@font-face {
	font-family: Copperplate-Light;
	src: url(../fonts/copperplatelight.ttf);
}

@font-face {
	font-family: Copperplate;
	src: url(../fonts/copperplate.ttf);
}

.box {
	margin-top: 10px;
}

@media (min-width: 768px) {
	.navbar .navbar-nav {
	  display: inline-block;
	  float: none;
	  vertical-align: top;
	}
}

.container-fluid .slider {
	padding-left: 0px;
	padding-right: 0px;
}

.affix {
	z-index: 4;
  top: 0;
  width: 100%;
}

.affix + .slider {
  padding-top: 60px;
}

.affix + #content {
  padding-top: 60px;
}

#content {
	width:96%;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-default, .navbar-inverse {
  background-color: #f8f8f8;
  border-color: #005a9c;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}

.navbar-inverse .navbar-toggle,
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #00477D;
}
.navbar-default .navbar-toggle .icon-bar,
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}

body {
	text-align: center;
	font-family: sans-serif;
	font-size: 11pt;
	/*minimun-height: 2000px;*/
	background: #fff;
}

label {
	text-align: center;
	color: #fff;
	font-size: 16px;
}

select {
	text-align: center;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.navbar {
	background-color: #005a9c;
	font-size: 16px;
	padding: 4px;
	/*font-family: Copperplate-Light, sans-serif;*/
	font-family: sans-serif;
	box-shadow: 0px 1px 8px #000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	background-color: #00477D;
	color:#fff;
	border-radius: 5px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	background-color: #00477D;
	color:#fff;
	border-radius: 10px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #005a9c;
  background-color: #e7e7e7;
  border-radius: 5px;
}

.dropdown-menu {
	background-color:#005a9c;
}

.dropdown-menu > li > a {
	color:#fff;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
	background-color: #00477D;
	color:#fff;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	background-color: #e7e7e7;
	color:#005a9c;
}


#azul {
	background-color: #005a9c;
	width:100%;
	/*height: 111px;*/
	height: 104px;

}
#branco {
	background-color: #fff;
	width:100%;
	/*height: 60px;*/
	height: 54px;
}

#logo {
	/*top: 2px;*/
	top: 9px;
	position: absolute;
	display: inline-block;
	text-align: center;
	margin-left: -84px;
}

@media (min-width:768px) {
	#fb_icon {
		height: 35px;
		width: 35px;
		margin-top:-160px;
		position: absolute;
		top: 12px;
		right: 16px;
		border: 1px solid;
		border-radius: 50px;
		border-color:#fff;
		-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		box-shadow: 1px 1px 4px #444;
	}

	#fb_icon > a > img {
		width: 100%;
	}

	#fb_icon::after {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	  opacity: 0;
	  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

	}

	#fb_icon:hover {
	  -webkit-transform: scale(1.2, 1.2);
	  transform: scale(1.2, 1.2);
	}

	#fb_icon:hover::after {
	    opacity: 1;
	}

	#twitter_icon {
		height: 35px;
		width: 35px;
		position: absolute;
		margin-top:-160px;
		top: 12px;
		right: 67px;
		border: 1px solid;
		border-radius: 50px;
		border-color:#fff;
		-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		box-shadow: 1px 1px 4px #444;
	}

	#twitter_icon > a > img {
		width: 100%;
	}

	#twitter_icon::after {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	  opacity: 0;
	  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

	}

	#twitter_icon:hover {
	  -webkit-transform: scale(1.2, 1.2);
	  transform: scale(1.2, 1.2);
	}

	#twitter_icon:hover::after {
	    opacity: 1;
	}

	#linkedin_icon {
		height: 35px;
		width: 35px;
		position: absolute;
		margin-top:-160px;
		top: 12px;
		right: 118px;
		border: 1px solid;
		border-radius: 50px;
		border-color:#fff;
		-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		box-shadow: 1px 1px 4px #444;
	}

	#linkedin_icon > a > img {
		width: 100%;
	}

	#linkedin_icon::after {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	  opacity: 0;
	  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

	}

	#linkedin_icon:hover {
	  -webkit-transform: scale(1.2, 1.2);
	  transform: scale(1.2, 1.2);
	}

	#linkedin_icon:hover::after {
	    opacity: 1;
	}
}

@media (max-width:767px) {
	#fb_icon {
		height: 35px;
		width: 35px;
		float: left;
		margin-top: 7px;
		margin-right: 14px;
		border: 1px solid;
		border-radius: 50px;
		border-color:#fff;
		-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		box-shadow: 1px 1px 4px #444;
	}

	#fb_icon > a > img {
		width: 100%;
	}

	#fb_icon::after {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	  opacity: 0;
	  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

	}

	#fb_icon:hover {
	  -webkit-transform: scale(1.2, 1.2);
	  transform: scale(1.2, 1.2);
	}

	#fb_icon:hover::after {
	    opacity: 1;
	}

	#twitter_icon {
		height: 35px;
		width: 35px;
		float: left;
		margin-top: 7px;
		margin-right: 14px;
		border: 1px solid;
		border-radius: 50px;
		border-color:#fff;
		-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		box-shadow: 1px 1px 4px #444;
	}

	#twitter_icon > a > img {
		width: 100%;
	}

	#twitter_icon::after {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	  opacity: 0;
	  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

	}

	#twitter_icon:hover {
	  -webkit-transform: scale(1.2, 1.2);
	  transform: scale(1.2, 1.2);
	}

	#twitter_icon:hover::after {
	    opacity: 1;
	}

.footer-distributed > .footer-center > p > span {
	color:#92999f;
}

	#linkedin_icon {
		height: 35px;
		width: 35px;
		float: left;
		margin-top: 7px;
		margin-right: 14px;
		border: 1px solid;
		border-radius: 50px;
		border-color:#fff;
		-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		box-shadow: 1px 1px 4px #444;
	}

	#linkedin_icon > a > img {
		width: 100%;
	}

	#linkedin_icon::after {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	  opacity: 0;
	  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

	}

	#linkedin_icon:hover {
	  -webkit-transform: scale(1.2, 1.2);
	  transform: scale(1.2, 1.2);
	}

	#linkedin_icon:hover::after {
	    opacity: 1;
	}
}



.index {
	padding:10px;
	padding-top:10px;
	margin-bottom: 3px;
	margin-top: 1px;
}

.noticias {
	padding:0;
	padding-top:8px;
	margin-bottom: 3px;
	margin-top: 1px;
	text-align: left;
}

.noticia_index {
	padding:8px;
	padding-top:8px;
	margin-bottom: 3px;
	margin-top: 1px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	text-align: left;
}

.noticia_index > .media-body {
	padding: 2px;
}

#mais_noticias {
	padding: 8px;
	padding-top: 4px;
	text-align: center;
}

#mais_noticias > button {
	height: 40px;

	font-size: 15px;
	/*font-family: Copperplate-Light, sans-serif;*/
	font-family: sans-serif;
}

.panel-heading > h3 {
	/*font-family: Copperplate-Light, sans-serif;*/
	font-family: sans-serif;
	font-size: 25px;
}

.panel-heading > h4 {
	/*font-family: Copperplate-Light, sans-serif;*/
	font-family: sans-serif;
	font-size: 20px;
}

.equipe_img {
	padding:10px;
	padding-top:10px;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 100%;
}

.equipe_img > img {
	display: block;
	box-shadow: 1px 1px 4px #777;
	border-radius: 250px;
	margin: auto;
}

@media (max-width: 767px) {
	.equipe_img > img {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.equipe_img > img {
		width: 20%;
		box-shadow: 1px 1px 4px #777;
		border-radius: 250px;
		-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		-webkit-transform: scale(.95, .95);
	  transform: scale(.95, .95);
	}

	.equipe_img > img::after {
	  content: "";
	  border-radius: 250px;
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
	  opacity: 0;
	  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	.equipe_img > img:hover {
	  -webkit-transform: scale(1.6,1.6);
	  transform: scale(1.6,1.6);
	}

	.equipe_img > img:hover::after {
	    opacity: 1;
	}
}

@media (min-width: 768px) {
	.equipe_text {
		text-align: left;
		padding:25px;
	}
}

@media (max-width: 767px) {
	.equipe_text {
		text-align: left;
		padding-top:20px;
		padding-left:10px;
		padding-right:10px;
		padding-bottom:10px;
	}
}


.label_index  {
	border-radius: 5px;
	margin-top: 10px;
	background-color: #05589c;
	padding:15px;
	color: #fff;
	font-size: 15px;
	/*font-family: Copperplate-Light, sans-serif;*/
	font-family: sans-serif;
}

@media (min-width: 768px) {
	#noticias_label, .noticias {
		padding-right: 15px;
		padding-left: 0;
	}
}

@media (max-width: 767px) {
	#noticias_label, .noticias {
		padding-right: 0;
		padding-left: 0;
	}
}

.evento::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.evento:hover {
  -webkit-transform: scale(.90,.90);
  transform: scale(.90,.90);
}

.evento:hover::after {
  opacity: 1;
}

@media (min-width: 768px) {
	.testando .evento {
		height: 365px;
	}
}

.evento {
	position: relative;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #aaa;
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	background-color: #F3FbFF;;
	/*display:none;*/
	-webkit-transform: scale(.88, .88);
  transform: scale(.88, .88);
}

.evento a img {
	width:100%;
	border-radius: 3px;
}

.evento > p {
	text-align: left;
	padding:14px;
}

@media (min-width: 768px) {
	#facebook_label, #facebook {
		top: -64px;

	}
	#facebook {
		height: 348px;
	}
}



#youtubelist {
	width: 100%;
	list-style: none;
}

#youtubelist > li {
	display: inline;;
}

@media (max-width:767px) {
	#quem_somos {
		text-align: left;
		padding-top:20px;
		padding-left:10px;
		padding-right:10px;
		padding-bottom:10px;
	}
}

@media (min-width:768px) {
	#quem_somos {
		text-align: left;
		padding:20px;
	}
}

#escritorio {
	width: 100%;
}

#escritorio > img {
	width: 85%;
	display: block;
	margin: auto;
	box-shadow: 1px 1px 4px #777;
	border-radius: 5px;
}

@media (min-width: 768px) {
	#escritorio > img::after {
  	content: "";
  	border-radius: 5px;
  	position: absolute;
  	z-index: -1;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  	opacity: 0;
  	-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	}

	#escritorio > img:hover {
  	-webkit-transform: scale(1.3,1.3);
  	transform: scale(1.3,1.3);
	}

	#escritorio > img:hover::after {
    opacity: 1;
	}

	#escritorio > img {
		width: 55%;
		-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  	transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
		-webkit-transform: scale(.95, .95);
  	transform: scale(.95, .95);
	}
}

.media-left {
	vertical-align: middle;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: #00477D;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #005a9c;
    background-color: #e7e7e7;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}

.curso {
	color: #05589c;
}

.panel-default > .panel-heading {
	color: #fff;
	background-color: #05589c;
	border-color: #00477D;
}

.curso_img {
	padding:5px;
	padding-top:5px;
	margin-bottom: 2px;
	margin-top: 2px;
}

.curso_img > img {
	display: block;
	width: 85%;
	box-shadow: 1px 1px 4px #777;
	border-radius: 5px;
	border: solid 2px #05589c;
	display: block;
	margin: auto;
}

.curso_text {
	color: #05589c;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	/*margin-top: 10px;*/
}

.curso_label_container  {
	margin-top: 10px;
	padding:10px;
}

.curso_label {
	border-radius: 5px;
	background-color: #05589c;
	padding:10px;
	color: #fff;
	font-size: 20px;
	/*font-family: Copperplate-Light, sans-serif;*/
	font-family: sans-serif;
}

@media (min-width:768px) {
	#cassazione {
		margin-top: 110px;
	}
	#luxemburgo {
		margin-top: 80px;
	}
}

.inscricao {
	margin-top: 5px;
	padding: 10px;
}

.inscricao > button {
	/*font-family: Copperplate-Light, sans-serif;*/
	font-family: sans-serif;
	font-size: 28px;
	height: 65px;
}

.panel-body {
	background-color: #F3FbFF;
}

.cursos-abertos {
	font-size: 21px;
}

.telefones{
	text-align: left;
	padding-top: 20px;
	padding-left:30px;
	padding-right:10px;
	padding-bottom: 20px;
}

#mapa {
	padding: 20px;
	height:240px;
}

.noticia {
	padding: 2px;
	text-align: left;
	margin-bottom: 10px;
}

.noticia > .media-body {
	padding: 2px;
}

.noticia_title {
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
	margin-bottom: 10px;
}

.noticia_text {
	text-align: left;
	margin-top: 15px;
}

.noticia_img, .noticia_img_body {
	text-align: center;
	padding: 10px;
}


@media (min-width:768px) {
	.noticia_img > img {
		width: 60%;
		border-radius: 5px;
		box-shadow: 1px 1px 4px #444;
	}
	#noticia_img_logo > img {
		border-radius:none;
		width: 28%;
		box-shadow: 0px 0px 0px #fff;
	}
	.noticia_img_body > img {
		width: 80%;
		border-radius: 5px;
		box-shadow: 1px 1px 4px #444;
	}
}

@media (max-width:767px) {
	.noticia_img > img {
		width: 90%;
		border-radius: 5px;
		box-shadow: 1px 1px 4px #444;
	}
	#noticia_img_logo > img {
		border-radius:none;
		width: 70%;
		box-shadow: 0px 0px 0px #fff;
	}
	.noticia_img_body > img {
		width: 90%;
		border-radius: 5px;
		box-shadow: 1px 1px 4px #444;
	}
}

#inscricoes-label {
	font-size: 24px;
	padding: 8px;
}

.curso-inscricao::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.curso-inscricao:hover {
  -webkit-transform: scale(.90,.90);
  transform: scale(.90,.90);
}

.curso-inscricao:hover::after {
  opacity: 1;
}

@media (min-width: 768px) {
	.testando .curso-inscricao {
		height: 390px;
	}
}


.curso-inscricao {
	position: relative;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #aaa;
  border-radius: 5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	background-color: #F3FbFF;
	-webkit-transform: scale(.88, .88);
  transform: scale(.88, .88);
}

.curso-inscricao a img {
	width:100%;
	border-radius: 3px;
}

.curso-desc > p {
	text-align: left;
	font-size: 17px;
	padding:8px;
	margin-top: 12px;
}


.curso-titulo > h3, .curso-titulo > h4 {
	text-align: center;
	border-radius: 3px;
	background-color: #005a9c;
	color: #fff;
	padding:10px;
	margin-top:0;
	margin-bottom: 10px;
}

.curso-titulo > h3 > a, .curso-titulo > h4 > a {
	color: #fff;
}

.media-left > img {
	border-radius: 3px;
}
